.appSearch {
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width: 100%;
    height: auto;
    position: relative;
    /* background: linear-gradient(to bottom, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%), linear-gradient(to bottom, rgba(0,0,0,0.02) 50%, rgba(255,255,255,0.02) 61%, rgba(0,0,0,0.02) 73%), linear-gradient(33deg, rgba(255,255,255,0.20) 0%, rgba(0,0,0,0.20) 100%); */
}

.searchNav {
    display: flex;
    justify-content: space-evenly;
    width: 99vw;
    height: 24vh;
    display: flex;
    align-items: center;
    padding-top: 3%;
    font-size:18px; 
    background-image: linear-gradient(to right, #292929 0%, black 100%);
    color: #429B9E;
}


.about{
    margin-left: 25%;
    margin-right: 10%;
    margin-bottom: 3%;
    text-decoration: none;
    font-weight: 700;
    text-transform: capitalize;
    color: #1A35A3;
    transition: all .2s linear;
}

.about:hover{
    color: white;
    border-bottom: 2px solid white;
}

.createLink {
    margin-left: 0%;
    padding: 1%;
    margin-bottom: 3%;
    letter-spacing: 1px;
    text-decoration: none;
    color: #7e44a5;
    font-weight: 700;
    transition: all .3s linear;
    border-radius: 6px;
    text-transform: capitalize;
}

.createLink:hover {
    background-color:aliceblue
}

.searchConteiner{
    flex-direction: row;
    padding-bottom: 3%;
}

.searchForm{
    display: grid;
    width: 215%;
    align-items: center;
    justify-items: center;
}

.searchInputLabel {
    font-size: larger;
    justify-content: center;
    display: flex;
    margin-top: 3%;
    margin-bottom: 2%;
}

.searchInput {
    width: 80%;
    height:100%;
    margin-bottom: 3%;
    border-radius: 2px;
}

.divGoButtons{
    display: flex;
    width: 80%;
    justify-content: space-between;
    letter-spacing: 1px;
}

.goButton{
    justify-content: center;
    margin: 2%;
    width: 45%;
    height: 80%;
    border-radius: 6px;
    transition: all .3s linear;
    cursor: pointer;
    font-size: large;
    letter-spacing: 1px;
}

.goButton2{
    justify-content: center;
    margin: 2%;
    width: 45%;
    height: 80%;
    border-radius: 6px;
    transition: all .3s linear;
    cursor: pointer;
    padding: 3px;
}

.goButton:hover{
    background-color: #429B9E;
    color: aliceblue;
}

.goButton2:hover{
    background-color: #429B9E;
    color: aliceblue;
}

.selects{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    height: 5%;
}

#azOrder, #scoreOrder, #genders {
    margin: 3px;
    border-radius: 6px;
    font-size: medium;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .3s linear;
    background-color: transparent;
    border: solid 2px black; 
}

#azOrder:hover,  #scoreOrder:hover  {
    background-color: aliceblue;
    color: #1A35A3;
}

.videogameFound{
    display: flex;
    margin-bottom: 3%;
    justify-content: center;
    align-content: center;
    margin-top: 1%;
}

.ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 8%;
    margin-right: 8%;
    padding-top: 2%;
    list-style: none;
}

.AllUl{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 8%;
    margin-right: 8%;
    padding-top: 2%;
    list-style: none;
}

.cardLi{
    width: 110%;
    height: 200px;
    margin: 2%;
    border: 6px solid rgba(63, 63, 63, 0.267);
    border-radius: 6px;
    margin-top: 5%;
    transition: all .2s linear;
    justify-content: center;
    background-color: rgba(228, 228, 228, 0.884);
}

.cardLi:hover{
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.384);
    background-color: white;
    border: 6px solid rgb(255, 255, 255);
}

.allCardLi{
    width: 150px;
    height: 150px;
    margin: 1%;
    border: 6px solid rgba(63, 63, 63, 0.267);
    border-radius: 6px;
    transition: all .2s linear;
    justify-content: center;
    background-color: rgba(235, 235, 235, 0.918); 
}

.allCardLi:hover{
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.384);
    background-color: white;
    border: 6px solid rgb(255, 255, 255);
}


.videogameImage {
    width: 100%;
    height: 140px;
    border-radius: 1px;
    transition: all .2s linear;
}

.videogameImage:hover {
    filter: saturate(230%)
}

.allVideogameImage {
    width: 100%;
    height: 100%;
    border-radius: 1px;
    transition: all .2s linear;
}

.allVideogameImage:hover {
    filter: saturate(230%)
}


.linkToDetail{
    text-decoration: none;
    letter-spacing: 1px;
    color: #1A35A3;
    text-transform: uppercase;
    font-size: smaller;
}

#footer{
    background-color: #1A35A3;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 8vh;
    color: white;
    border-radius: 6px; 
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 5px;
    font-size: 15px;
    box-shadow: 2px 2px 20px 4px rgba(0, 0, 0, 0.384);
}









